<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class='text-light'>{{pageTitle}} </h3>
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-2'>Filter: </div>
      <div class='row-md-4'>
        <input type='text' [(ngModel)]='listFilter' maxlength='30' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h3>Filtered By: {{listFilter}}</h3>
        <h4>{{ratingSubtitle}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='products && products.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)='hide($event)'>
                {{isHidden ? 'Show' : 'Hide'}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td>
              <img [src]='product.imageUrl' [hidden]='isHidden' [title]='product.productName' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
            </td>
            <td>
              <a routerLink='{{product.id}}'> {{ product.productName}}</a>
            </td>
            <td>{{ product.productCode | convertToSpaces: '-'}}</td>
            <td>{{ product.releaseDate}}</td>
            <td>{{ product.price | currency}}</td>
            <td>
              <app-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></app-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>